$gray-darker:           #343b43 !default;
$gray-dark:            	#404040 !default;
$gray:                  #8c8c8c !default;
$gray-light:            #e7e7e7 !default;
$gray-lighter:          #f5f5f5 !default;
$white:                 #ffffff !default;
$black:                 #000000 !default;

// Brand colors
$primary:               #ac32e4 !default;
$accent:                #e833b0 !default;
$info:		              #5695fe !default;
$success:               #33cb81 !default;
$warning:               #fc8c3a !default;
$danger:                #ff5252 !default;

//== Grid Vertical Step
// -------------------------------------------------------

$grid-vertical-step:     24px !default;
$font-size-base:          16px !default;
$font-size-lead:          floor(($font-size-base * 1.5)) !default; // ~24px
$font-size-xl:            floor(($font-size-base * 1.125)) !default; // ~18px
$font-size-lg:            $font-size-base !default; // ~16px
$font-size-md:            floor(($font-size-base * .875)) !default; // ~14px
$font-size-sm: 				    floor(($font-size-base * .75)) !default; // ~12px
$font-size-xs:         		floor(($font-size-base * .625)) !default; // ~10px

$font-size-button-md:         $font-size-sm !default;
$navi-link-font-size:         $font-size-sm !default;

//== Box Shadow
// -------------------------------------------------------

$box-shadow-base:              0 22px 36px -12px rgba($gray-dark, .13) !default;
$box-shadow-base-pressed:      0 10px 24px -10px rgba($gray-dark, .22) !default;
$box-shadow-base-inset:        inset 0 20px 30px -12px rgba($gray-dark, .12) !default;
$box-shadow-card:              0 12px 20px 1px rgba($gray-dark, .09) !default;
$box-shadow-dropdown:          0 8px 20px -4px rgba($gray-dark, .2) !default;
$box-shadow-autocomplete:      0 6px 20px 0 rgba($gray-dark, .2) !default;
$box-shadow-input:             0 9px 24px -4px rgba($gray-dark, .16) !default;
$box-shadow-offcanvas:         22px 0 36px -12px rgba($gray-dark, .12) !default;
$box-shadow-offcanvas-reverse: -22px 0 36px -12px rgba($gray-dark, .12) !default;
$box-shadow-pagination-link:   0 12px 20px 1px rgba($gray-dark, .11) !default;
$box-shadow-social-btn:        0 12px 20px 1px rgba($gray-dark, .11) !default;
$box-shadow-shop-btn:          0 12px 20px 1px rgba($gray-dark, .11) !default;
$box-shadow-header-btns:       0 12px 20px 1px rgba($gray-dark, .13) !default;
$box-shadow-gallery-hover:     0 8px 24px 0 rgba($black, .26) !default;
$box-shadow-gallery-indicator: 0 10px 15px 0 rgba($black, .2) !default;
$box-shadow-carousel-navs:     0 10px 15px 0 rgba($black, .12) !default;
$box-shadow-contact-icon:      0 8px 20px 0 rgba($black, .11) !default;
$box-shadow-author-avatar:     0 8px 20px 0 rgba($black, .15) !default;
$box-shadow-progress:          0 8px 16px 0 rgba($black, .15) !default;
$box-shadow-post-format:       0 9px 18px 0 rgba($gray-dark, .14) !default;
$box-shadow-video-btn:         0 9px 28px 0 rgba($gray-dark, .13) !default;
$box-shadow-video-btn-hover:   0 9px 28px 0 rgba($primary, .2) !default;
$box-shadow-fullscreen-close:  0 10px 18px 0 rgba($black, .11) !default;

// Borders
$border-color:          $gray-light !default;
$border-light-color:    rgba($white, .14) !default;

// Theme gradient
$gradient-color-1:      $primary !default;
$gradient-color-2:      $accent !default;




//
// Mixins
// --------------------------------------------------

// Font smoothing
@mixin font-smoothing {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

// Unstyled list
@mixin list-unstyled {
  padding-left: 0;
  list-style: none;
}

// Gradient background
@mixin gradient-background($gradient-from: $gradient-color-1, $gradient-to: $gradient-color-2) {
  background: $gradient-from !important;
  background: linear-gradient(to right, $gradient-from 0%, $gradient-from 20%, $gradient-to 100%) !important;
}

// Vertical gradient background
@mixin gradient-background-vertical($gradient-from: $gradient-color-1, $gradient-to: $gradient-color-2) {
  background: $gradient-from !important;
  background: linear-gradient(to bottom, $gradient-from 0%, $gradient-from 20%, $gradient-to 100%) !important;
}

// Placeholder text
@mixin placeholder($color: $gray) {
  // Firefox
  &::-moz-placeholder {
    color: $color;
    opacity: 1; // Override Firefox's unusual default opacity; see https://github.com/twbs/bootstrap/pull/11526
  }
  &:-ms-input-placeholder {
    color: $color;
  } // Internet Explorer 10+
  &::-webkit-input-placeholder  {
    color: $color;
  } // Safari and Chrome
}

// Appearance
@mixin appearance($value) {
  -webkit-appearance: $value;
  -moz-appearance: $value;
  appearance: $value;
}


// Alert Variants
@mixin alert-variant($color, $bg-color, $border-color) {
  background-color: $bg-color;
  color: $color;
  &::before { border-color: $border-color; }
  > *,
  h1, h2, h3, h4, h5, h6, p, ul, ol, a {
    &:not(.text-white),
    &:not(.text-light) { color: $color; }
  }
  .alert-close { color: $color; }
}

// List Group Variants
@mixin list-group-variant($color, $bg-color, $border-color) {
  border-color: $border-color !important;
  background-color: $bg-color;
  color: $color !important;
  > *,
  h1, h2, h3, h4, h5, h6, p, ul, ol, a { color: $color !important; }
}






// Gradient background
.bg-gradient { @include gradient-background($gradient-color-1, $gradient-color-2);}
.bg-gradient-vertical { @include gradient-background-vertical($gradient-color-1, $gradient-color-2);}



//
// Team
// --------------------------------------------------

// General for all styles
.team-component {
  padding-top: 15px;
}
.team-card-style-1 {
  position: relative;
  max-width: 360px;
  text-align: center;
  min-width: 250px;
}
.team-contact-link {
  display: block;
  margin-top: floor($grid-vertical-step / 5);
  transition: all .25s;
  font: {
    size: $font-size-sm;
    weight: 700;
  }
  text-decoration: none;
  > i {
    display: inline-block;
    font-size: 1.1em;
    vertical-align: middle;
  }
}
.team-card-style-1 {
  .team-position {
    display: block;
    margin-bottom: floor($grid-vertical-step / 3);
    color: $gray;
    font: {
      size: $font-size-sm;
      weight: 700;
    }
    opacity: .6;
  }
}

.team-thumb > img {
  display: block;
  width: 100%;
}

.social-icon > img {
  height: 34px;
  width: 34px;
}

// Style 1 (Specific styles)
.team-card-style-1 {
  padding-bottom: 0;
  > * {
    position: relative;
    z-index: 5;
  }
  &::before {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 0;
    transition: all .3s .12s;
    @extend .bg-gradient-vertical;
    content: '';
    opacity: 0;
  }
  .team-card-inner {
    margin-bottom: floor($grid-vertical-step / 1.5);
    padding: {
      top: floor($grid-vertical-step * 2);
      right: floor($grid-vertical-step / 1.5);
      bottom: floor($grid-vertical-step / 1.2);
      left: floor($grid-vertical-step / 1.5);
    }
    background-color: $white;
    box-shadow: $box-shadow-base;
  }
  .team-thumb {
    width: 108px;
    height: 108px;
    margin: auto;
    margin-bottom: floor($grid-vertical-step / 1.5);
    border-radius: 50%;
    overflow: hidden;
  }
  .team-social-bar {
    margin: {
      top: floor($grid-vertical-step / 1.5);
      bottom: floor($grid-vertical-step / 3);
    }
    transform: scale(.8);
  }
  .team-contact-link {
    transition-delay: .12s;
    color: $gray;
    opacity: .6;
    &:hover {
      color: $gray;
      opacity: 1;
    }
  }
  .team-card-inner,
  .team-thumb,
  .team-social-bar { transition: all .3s .12s; }
  .team-position,
  .team-name { transition: color .3s .12s; }
  .team-name {
    margin-bottom: 0;
    font: {
      size: floor($font-size-base * 1.25);
      weight: bold;
    }
  }
}
.team-card-style-1:hover {
  &::before {
    height: 100%;
    box-shadow: $box-shadow-base;
    opacity: 1;
  }
  .team-card-inner {
    background-color: transparent;
    box-shadow: none;
  }
  .team-thumb { transform: scale(1.1); }
  .team-social-bar { transform: scale(1.1); }
  .team-contact-link,
  .team-position,
  .team-name { color: $white; }
  .team-contact-link { opacity: 1; }
}

// add hover effect for key info
