/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import url('https://fonts.googleapis.com/css?family=Solway:500&display=swap" rel="stylesheet');
 

 .homePage  {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    image-url('beach.jpg');
    height: 150vh;
    background-size: cover;
    background-position: center;
    opacity: 91%;
    color: white;
    text-align: center;
 }

 .hero-text-box {
     position: absolute;
     width: 1140px;
     top: 50%;
     left: 50%;
     transform:translate(-50%, -50%);
 }

 .hometitle{
    text-decoration: underline;
    position: relative;
    top: 120px;
    font-size: 8rem;

 }

 .mission{
    margin-top: -20rem;
    padding-left: 125px;
    padding-right: 125px;
    font-size: 1.5rem;
    border: 3.5px solid white;
    border-radius: 15px;
    font-family: 'monospace';
    font-size: 2rem;
    position: relative;
}


 .resources{
     text-align: center;
     text-decoration-line: underline;
     font-size: 7rem;
 }

 .cardOne{
     padding-left: 150px;
     padding-right: 150px;
     margin-top:60px;
     margin-bottom: 60px;
    
 }
 .cardTwo{
    padding-left: 150px;
    padding-right: 150px;
    margin-bottom: 60px;
}
.cardThree{
    padding-left: 150px;
    padding-right: 150px;
    margin-bottom: 60px;
}
.cardFour{
    padding-left: 150px;
    padding-right: 150px;
    margin-bottom: 60px;
}
.allCards{
    border:5px solid #E95420;
    border-radius: 25px;
    border-width: 15px;

}
img{
    width:680px auto;
    height:550px;
    
}
.about{
    text-align: center;
}
.member-card {
    width: 350px;
    height: auto;
    margin: 1vmin;
    margin-top: 2vmin;
  }
  .member-cards-container {
    margin-top: 2vmin;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    /* height: 300px; */
  }