/** @format */

#app-footer {
    padding: 5px 0;
    text-align: center;
    height: 56px;
    margin-top: -56px;
    position: relative;
    clear: both;
    background: linear-gradient(to right, #f87d42 0%, #ff4f69 100%);
}

footer {
    .logo {
        margin-bottom: 0px;

        img {
            width: 24px;
        }
    }

    .navlinks {
        ul {
            list-style: none;

            li {
                display: inline-block;
                margin: 0 10px;
            }
        }
    }

    .f-d {
        margin: 0px;
        color: #fff;
    }
}
